* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.blackWhiteButton {
  cursor: pointer;
  border: 3px solid black;
  background: #000;
  outline: none;
  color: #fff;
  padding: 18px 60px;
  font-size: 16px;
  transition: all 0.2s ease;
}

.blackWhiteButton:hover {
  background: #fff;
  color: #000;
}

.blackWhiteButton:active {
  transform: scale(0.96);
}
