* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 999999;
  transform: translateX(-50%);
  padding: 18px 60px;
  font-size: 18px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
}
